
<form class="new-advisement" id="advisement-form" name="advisement-form" action="">

        <h1>Advisement: </h1>
        <p id="worker-bee-advisement">It is suggested to change the nectar levels to: <%=advisement[4]%> </p>
        <input type="radio" id="yes" name="accepted" value="Yes">
        <label for="male">Accept</label>
        <input type="radio" id="no" name="accepted" value="No">
        <label for="female">Deny</label><br>
        <input type="submit" value="submit">

</form>