<form  method="POST" action="<%=worker_bee_url(worker_bee)%>">
    <input type="hidden" name="_method" value="PATCH">

    <label for="worker-bee-comb">Combs the bee has collected for: </label>

    <select name="worker_bee[comb_id]" id="worker-bee-comb">
    <option disabled selected>-- select a comb --</option>
        <% worker_bee.all_combs_part_of.each do |comb|%>
        <option
            <%= worker_bee.comb_id == comb ? "selected" : "" %>
            value="<%= comb %>">
            <%= comb %>
        </option>
        <% end %>
    </select>
    <input type="submit" value="submit">
</form>