


<form  method="POST" action="<%=worker_bee_url(worker_bee)%>">
  <input type="hidden" name="_method" value="PATCH">
  <label for="worker_bee">Change Comb</label>
  <input
    type="text"
    name="worker_bee[comb_id]"
    id="worker_bee"
    value="<%= worker_bee.comb_id %>">
  <input type="submit" value="submit">
</form>
