<div id="worker-bee-pollen" style="display: none"><%= @worker_bee.pollen_collected%></div>
<div id="worker-bee-nectar" style="display: none"><%= @worker_bee.nectar_used%></div>        
  
     
<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function () {
        let pollen_collected = JSON.parse(document.getElementById('worker-bee-pollen').innerHTML)
        let nectar_used = JSON.parse(document.getElementById('worker-bee-nectar').innerHTML)



        let weeks = new Array(Math.max(pollen_collected.length, nectar_used.length))
        for(let x = 0; x <weeks.length; x++) {
            weeks[x] = `week-${x}`
        }
        let myChart = Highcharts.chart('container', {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Comparison of Pollen Gathered to Nectar Consumption',
                align: 'left'
            },
            subtitle: {
                text: 'Source: Mother Bee',
                align: 'left'
            },
            xAxis: [{
                text: "asdfas",
                categories: weeks,
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: 'Units/100',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                title: {
                    text: 'Nectar Consumption',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Pollen Gathered',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} p/g',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Nectar Consumption',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 55,
                floating: true,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || // theme
                    'rgba(255,255,255,0.25)'
            },
            series: [{
                name: 'Pollen',
                type: 'column',
                yAxis: 1,
                data: pollen_collected,
                tooltip: {
                    valueSuffix: ' p/g'
                }

            }, {
                name: 'Nectar Consumption',
                type: 'spline',
                yAxis: 2,
                data: nectar_used,
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                    valueSuffix: ''
                }
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            floating: false,
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom',
                            x: 0,
                            y: 0
                        },
                        yAxis: [{
                            labels: {
                                align: 'right',
                                x: 0,
                                y: -6
                            },
                            showLastLabel: false
                        }, {
                            labels: {
                                align: 'left',
                                x: 0,
                                y: -6
                            },
                            showLastLabel: false
                        }, {
                            visible: false
                        }]
                    }
                }]
            }
        });
    });
</script>
