<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Welcome to the Bee Population!</header>
    <div class="information">
        <div class="all-bees">
            <% @worker_bees.each do |bee|%>
                <li>
                    <a href=worker_bees/<%=bee.id%>>
                        <%= bee.bee_name %>
                    </a>
                </li>
            <%end%>
        </div>
    </div>
</body>
</html>