<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Showing a bee named - <%= @worker_bee.bee_name%></p>
   <p>Collection - <%= @worker_bee_pollen_sum%></p>
</body>
</html>