
.bee-info {
    /* display: flex; */
}


table {
    border-collapse: collapse;
    text-align: center;
    min-width: 860px;
    margin-top: 10px;
    height: 100px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid black

}

th, td {
    padding: 15px
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {
    background-color: lavender;
}

.table-information {
    margin: 0;
    padding: 0;
}

.table-information-advanced {
    width: inherit;
}

.included-comb {
    font-weight: bold;
}

.new-advisement {
    /* display: none; */
    position: fixed;
    z-index: 2;
    bottom: 85px;
    left: 200px;
    background-color: rgba(216, 193, 16, 0.947);
    justify-content: center;
    width: 500px;
    height: 250px;
}

.new-advisement h1 {
    display: flex;
    justify-content: center;
}

.new-advisement input label{
    display: flex;
    justify-content: center;
    vertical-align: center;
}
.radio-buttons label {
    padding-right:10px;
    display: flex;
}

.new-advisement p {
    text-align: center;
    
}

