
.bee-info {
    /* display: flex; */
}


table {
    border-collapse: collapse;
    text-align: center;
    min-width: 860px;
    margin-top: 10px;
    height: 100px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid black

}

th, td {
    padding: 15px
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {
    background-color: lavender;
}

.table-information {
    margin: 0;
    padding: 0;
}

.table-information-advanced {
    width: inherit;
}