
.bee-info {
    background-color: #c2823c;
}

.bee-info label {
    color: white;
    padding: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    min-width: 860px;
    margin-top: 10px;
    height: 100px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid black

}

th, td {
    padding: 15px
}

tr:nth-child(even) {background-color: #d69249;}
tr:nth-child(odd) {background-color: #e5b256;}

tr:not(:first-child):hover {
    background-color: rgb(140, 140, 140);
    color: white;
}

tr:nth-child(1) {
    background-color: rgba(196, 194, 194, 0.701);
}


.both-table-information {
    margin: 0;
    padding: 0;
}


.included-comb {
    font-weight: bold;
}

.new-advisement {
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 85px;
    left: 200px;
    background-color: #dfd45e;
    justify-content: center;
    width: 500px;
    height: 250px;
}

.new-advisement h1 {
    display: flex;
    justify-content: center;
}

.new-advisement input label{
    display: flex;
    justify-content: center;
    vertical-align: center;
}
.radio-buttons label {
    padding-right:10px;
    display: flex;
}

.new-advisement p {
    text-align: center;
    
}


.table-information {
    display: none;
}

.show-table {
    display: table;
    width: inherit;
}

#container {
    width: 90%;
    height: 400px;
    border: 1px solid black;
    margin: 1em;
}

.general-bee {
    margin: 1em;
}

.show-bee-buttons {
    margin: 1em;
}

.both-table-information {
    margin: 1em;
}

.bee-info p {
    padding: 5px;
    color: white;
}

.comb-info p {
    padding: 5px;
    color: white;
}

.change-bee-comb{
    padding: 5px;
}
.change-bee-comb p {
    padding: 5px;
    color: white;
}
.change-bee-comb label {
    color: white;
}


.index-bee-button img {
    height: 15px;
}