
.show-bee-buttons {
    margin: 1em;

    .index-bee-button {
        display: flex;
        padding: 2px;
        div {
            padding: 2px;
        }
        div:hover {
            font-weight: bold;
        }
        .reverse-bee {

        }
    }

}

.general-bee {
    display: flex;
    margin: 1em;
    .random-bee-image {
        height: 300px;
        width: 350px;
        object-fit: cover;
    }

    p:first-child {
        font-size: 2em;
        text-decoration: underline;
        padding: 10px 5px;
        color: white;
    }

    .bee-info {
        background-color: #c2823c;
        border: 1px solid black;
        width: 50%;
            label {
                color: white;
                padding: 5px;
            }

            p:not(:first-child) {
                font-size: 1em;
                padding: 5px;
                color: white;
            }
    }

}

.new-advisement {
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 25%;
    left: 25%;
    background-color: #dfd45e;
    justify-content: center;
    width: 500px;
    height: 130px;
    border:6px red ridge;

    .first-pop-up-div {
        height: 100%;

        h1 {
            display: flex;
            justify-content: center;
            font-size: 2em;
            padding: 10px;
        }

        input label{
            display: flex;
            justify-content: center;
            vertical-align: center;
        }

        p {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: center;
            margin: 10px;
            label{
                margin: 0px 5px;
                text-align: center;
                margin-right: 10px;
            }
            input {
                margin: 0px;
            }
        }
    }
       
}

.both-table-information {
    margin: 0;
    padding: 0;
    width: 95%;
    margin: 1em;
}




table {
    border-collapse: collapse;
    text-align: center;
    min-width: 860px;
    margin-top: 10px;
    height: 100px;
    overflow: scroll;
}

.simulate-week {
    justify-content: center;
    display: flex;
}

.graph-switch-div {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black

}

th, td {
    padding: 15px
}

tr:nth-child(even) {background-color: #ee7f09;}
tr:nth-child(odd) {background-color: #e5b256;}

tr:not(:first-child):hover {
    background-color: rgb(140, 140, 140);
    color: white;
}

tr:nth-child(1) {
    // background-color: rgba(196, 194, 194, 0.701);
    background-color: #dfd45e
}





.included-comb {
    font-weight: bold;
}



.radio-buttons {

    label {
        padding-right:10px;
        display: flex;
    }
}


.table-information {
    display: none;
}

.show-table {
    display: table;
    width: inherit;
}

#container {
    width: 90%;
    height: 400px;
    border: 1px solid black;
    margin: 1em;
}


.comb-info {

    p {
        padding: 5px;
        color: white;
    }
}

.change-bee-comb{
    padding: 5px;

    p {
        padding: 5px;
        color: white;
    }

    label {
        color: white;
    }
}


.index-bee-button {
    img {
        height: 15px;
    }
}