header {
    display: flex;
    justify-content: center;
    padding: 1em;
    color: white;
    font-size: 2em;
}

.background-color {
 background-color: #d06837;
 height:100%;
}

.information {
    display: block;
    justify-content: left;
}
    .information{
    }
        .average-bee-information {
                display: flex;
                padding-left: 1em;
        }
            .average-information-line {
                padding: 0em 1em;
            }
       
        .all-bees {
            h1 {
                display: flex;
                // justify-content: center;
                padding: 1em;
                justify-content: center;
                color: white;
                font-size: 18px;
            }
        }
            .list-of-bees{
                display: block;
                align-items: left;
            }
                .grid-list-of-bees {
                    // display: flex;
                    // position: fixed;
                    // justify-content: center;
                    display: grid;
                    grid-template-columns: auto auto auto auto auto;
                    padding: 1em;
                    justify-content: center;
                    background-color: #dfd45e;
                }
                    .individual-bee-name-link {
                        display: block;
                        padding: 1em;
                    }
                        .individual-bee-link{
                            width: 200px;
                            padding: 20px;
                            text-align: left;
                        }

                            .individual-bee-info-link {
                                display: block;
                                margin: 1em;
                                text-decoration: none;
                                color: black;
                                height: 100%;
                                width: 100%;
                                background-color: #dfd45e;
                            }
                            .individual-bee-info-link:hover {
                                background-color:#c2823c;
                                cursor: pointer;
                            }
            
        
    
    
.list-of-bees {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

    


body {

}



